:root{
    --color1: #1abc9c;
    --color2: #474e5d;
    --color3: #333;
}
#first_part{padding: 50px;}
#second_part,#third_part{
    padding: 100px 0;
}
#first_part,#fourth_part {background-color:whitesmoke;
}
#second_part {background-color: var(--color1);}
#third_part {background-color: var(--color2);}
.avatar {
         width: 150px;
         height: 150px;
         border-radius: 50%;
}
.btn-itd {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    background-color: white;
}
#fourth_part{padding: 20px;}

