.cookie-alert,.cookie-alert__container,.cookie-alert__left{
    background-color: bisque;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0 ;
    font-size: 14px;
    }
.cookie-alert.cookie-alert.cookie-alert--js{
    display: none;}
.cookie-alert.cookie-alert--js.is-show{
    display: block;
}
.cookie-alert__container{
        padding: 20px;
        display: flex;
        align-items: center;

    }
.cookie-alert__left {
        padding-right: 20px;
    }