.hard-rockbutton-container {
  min-height: 100vh;
}
.hard-rockbutton-dummy-container {
  width: 100%;
  height: 1084px;
}
.hard-rockbutton-hard-rockbutton {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.hard-rockbutton-fon1 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 900px;
  position: absolute;
  border-color: transparent;
}
.hard-rockbutton-rectangle1 {
  top: -8px;
  left: 0px;
  width: 1920px;
  height: 57px;
  position: absolute;
  border-color: transparent;
}
.hard-rockbutton-rectangle2 {
  top: 896px;
  left: -14px;
  width: 1935px;
  height: 184px;
  position: absolute;
  border-color: transparent;
}
.hard-rockbutton-logobutton {
  top: 4px;
  left: 1px;
  width: 370px;
  height: 38px;
  position: absolute;
  border-color: transparent;
}
.hard-rockbutton-text {
  top: 3px;
  left: 909px;
  color: rgba(0, 0, 0, 1);
  width: 144px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Exo 2;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.hard-rockbutton-text02 {
  top: 3px;
  left: 751px;
  color: rgba(0, 0, 0, 1);
  width: 144px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Exo 2;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.hard-rockbutton-text04 {
  top: 3px;
  left: 457px;
  color: rgba(0, 0, 0, 1);
  width: 144px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Exo 2;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.hard-rockbutton-text06 {
  top: 3px;
  left: 322px;
  color: rgb(0, 0, 0);
  width: 144px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Exo 2;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.hard-rockbutton-text07 {
  top: 3px;
  left: 599px;
  color: rgba(0, 0, 0, 1);
  width: 144px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Exo 2;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.hard-rockbutton-searchbutton {
  top: 6px;
  left: 1862px;
  width: 38px;
  height: 38px;
  position: absolute;
  border-color: transparent;
}
.hard-rockbutton-rectangle8 {
  top: 151px;
  left: 35px;
  width: 594px;
  height: 661px;
  position: absolute;
  border-color: transparent;
}
.hard-rockbutton-i1 {
  top: 181px;
  left: 63px;
  width: 538px;
  height: 601px;
  position: absolute;
  border-color: transparent;
}
.hard-rockbutton-text09 {
  top: 683px;
  left: 82px;
  color: rgba(255, 255, 255, 1);
  width: 507px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Exo 2;
  font-weight: 400;
  line-height: 25px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.hard-rockbutton-rectangle9 {
  top: 151px;
  left: 649px;
  width: 592px;
  height: 661px;
  position: absolute;
  border-color: transparent;
}
.hard-rockbutton-rectangle10 {
  top: 151px;
  left: 1261px;
  width: 620px;
  height: 661px;
  position: absolute;
  border-color: transparent;
}
.hard-rockbutton-text11 {
  top: 99px;
  left: 718px;
  color: rgba(255, 255, 255, 1);
  width: 446px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Nerko One;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.hard-rockbutton-rectangle11 {
  top: 181px;
  left: 678px;
  width: 534px;
  height: 601px;
  position: absolute;
  border-color: transparent;
}
.hard-rockbutton-rectangle12 {
  top: 182px;
  left: 1288px;
  width: 569px;
  height: 600px;
  position: absolute;
  border-color: transparent;
}
.hard-rockbutton-text13 {
  top: 696px;
  left: 691px;
  color: rgba(255, 255, 255, 1);
  width: 511px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Exo 2;
  font-weight: 400;
  line-height: 25px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.hard-rockbutton-text15 {
  top: 685px;
  color: rgba(255, 255, 255, 1);
  right: 75px;
  width: 538px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Exo 2;
  font-weight: 400;
  line-height: 25px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.hard-rockbutton-text17 {
  top: 992px;
  left: 846px;
  color: rgba(255, 255, 255, 1);
  width: 230px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Exo 2;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.hard-rockbutton-text22 {
  top: 900px;
  left: 778px;
  color: rgba(255, 255, 255, 1);
  width: 366px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Exo 2;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.hard-rockbutton-image20230402142828124 {
  top: 929px;
  left: 991px;
  width: 70px;
  height: 63px;
  position: absolute;
  border-color: transparent;
}
.hard-rockbutton-image20230402142543685 {
  top: 929px;
  left: 846px;
  width: 72px;
  height: 63px;
  position: absolute;
  border-color: transparent;
}